body {
    font-family: sans-serif;
    text-align: center;
    background-color: #da7c11;
    cursor: url("../img/icono.png"), auto;
}
canvas {
    border: 2px solid #333;
    margin-top: 20px;
}
#result {
    font-size: 20px;
    margin-top: 10px;
    color: #222;
    font-family: 'Courier New';
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New';
    background-color: #e42822;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

    #figura {
  text-align: center;
  margin-top: 20px;
}